:host {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 123px 1fr;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--light-color);

}

.avatar {
  height: 132px;
  width: 132px;
  border-radius: 50%;
}

.avatar-input {
  display: none;

}

.dropzone{
  border-radius: 2px;
  padding: 16px;
  border: 1px dashed var(--light-color);
  display: grid;
  place-content: center;

}

.dropzone-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    height: 18px;
    width: 18px;
    margin-bottom: 17px;
  }

}
