:host {
  display: grid;
  grid-gap: 48px;
  grid-template-columns: 422px 1fr;
  padding: 24px;
}

.profile-form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--light-color);
  background-color: var(--dark-color);
  padding: 32px;
  height: calc(100dvh - (24px*4))

}

.profile-form {
  display: grid;
  grid-gap: 20px;

}

.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

}

.stack-wrapper {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.profile-header{
  padding-bottom: 32px;
  border-bottom: 1px dashed var(--light-color);
}
