@import "fonts";
@import "margins";

:root {
  --dark-color: #000000;
  --light-color: #FFFFFF;
  --primary-color: #AE7AFF;
  --gray-color: #5F646D;
  --dark-hover-color: #161616;
  --light-transparent-color: rgba(255, 255, 255, 0.75);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100dvh;
  font-family: "JetBrains Mono", sans-serif;
  background: var(--dark-color);
  color: var(--light-color);
  font-weight: 500;
  background:url("../public/assets/imgs/background.jpg") center / cover no-repeat fixed;
  background-color: #000;

}




.skill-tag{
  padding: 0 8px;
  border-radius: 4px;
  border: 1px solid var(--light-color);
  display: inline;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  height: 24px;
}

.btn {
  width: 100%;
  border: none;
  background: var(--primary-color);
  color: var(--dark-color);
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: inherit;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid var(--dark-color);
}

.btn-shadow {
  position:relative;

  &:before{
    content:'';
    position:absolute;
    z-index: -1;
    bottom: -4px;
    right: -4px;
    background: tomato;
    width: 100%;
    height: 100%;
    background: var(--gray-color);
  }
}

.h1{
  font-size: 48px;
  line-height: 56px;
  font-weight: 800;
}


.h4{
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
}

.h6{
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.subtitle {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.medium-text{
  font-family: "jetBrains Mono", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

.regular{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.tt-control-label{
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  display: block;
}

.tt-input{
  width: 100%;
  display: block;
  border: 1px solid var(--light-color);
  border-radius: 2px;
  padding: 12px 20px;
  background-color: var(--dark-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "JetBrains Mono", sans-serif;
  margin-top: 8px;
  color: var(--light-color);
}

.tt-form-label {
  display: flex;
  flex-direction: column;
  gap: 16px;


}

.tt-form-label__text{
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  font-style: normal;
  color: var(--light-transparent-color);
}

.tt-form-input {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  border: none;
  background: none;
  border-bottom: 1px solid var(--light-color);
  height: 33px;
  color: var(--light-color);

  &:focus-visible {
    outline: 1px solid var(--primary-color);

  }
}

.tt-textarea {
  height: 84px;
  resize: none;
}
